<div class=" mt-5" style="margin: 1%; padding: 3%;">
<turbo-frame id="filter_form">
<%= render "filter_form", 
      available_institutions: @available_institutions,
      available_departments: @available_departments, 
      available_universities: @available_universities,
      available_intakes: @available_intakes,
      available_statuses: @available_statuses,
      available_delivery_methods: @available_delivery_methods,
      available_durations: @available_durations,
      available_tags: @available_tags,
      available_education_boards: @available_education_boards,
      available_levels: @available_levels,
      available_internship_periods: @available_internship_periods,
      available_application_fees: @available_application_fees,
      courses: @courses,
      params: params %>
</turbo-frame>
  <div class="mt-4">
    <turbo-frame id="courses_list">
      <%= render "courses_list", 
          courses: @courses, 
          subjects: @subjects, 
          tests: @tests,
          institutions: @available_institutions,
          departments: @available_departments,
          tags: @available_tags,
          universities: @available_universities %>
    </turbo-frame>
  </div>
</div>
<style>
  [data-search-target="queryResults"] {
    position: absolute;
    background: white;
    width: 100%;
    z-index: 1050;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .col-md-4 {
    position: relative;
  }
  .clear-search {
    display: none;
    outline: none !important;
  }
  .form-control:not(:placeholder-shown) ~ .clear-search {
    display: block;
  }
  .clear-search {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s;
  }
  .clear-search:hover {
    opacity: 1;
  }
</style>

