<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to 'Study Portal', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <%= link_to 'Home', courses_path, class: "nav-link #{current_page?(courses_path) ? 'active' : ''}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'University Map', map_search_universities_path, class: "nav-link #{controller_name == 'universities' && action_name == 'map_search' ? 'active' : ''}" %>
      </li>
    </ul>
    <% if authenticated? %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= button_to 'Logout', session_path,
              method: :delete,
              class: "btn btn-outline-light mr-5",
              data: { turbo: false } %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
